<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/login.css">
  <title>管理端登陆页面 </title>

</head>

<body>
  <div class="container">
    <div class="header">
      <h3>CMS内容管理系统</h3>
    </div>
    <div class="form">
      <span>账号密码登陆</span>
      <form action="">
        <input type="text" class="inp" placeholder="请输入账号" id="zh" name="username" required autocomplete="off">
        <input type="password" placeholder="请输入密码" class="inp" id="ma" name="password" autocomplete="off">
        <input type="submit" value="登陆" class="log">
        <a href="#">忘记密码</a>
      </form>
    </div>
  </div>

</body>


<!-- 引入jquery -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="/js/login.js"></script>

</html>