<%- include("common/header.html")%>
  <!-- 引入首页样式 -->
  <link rel="stylesheet" href="/css/index/index.css">
  <link rel="stylesheet" href="/css/index/hr/hr.css">
  <div class="ban">
    <div class="ban-content">
      <div class="title">永远相信</div>
      <div class="title">美好的事情即将发生</div>
    </div>
  </div>
  <div class="container">
    <div class="header-why">
      在这里工作大有不同
    </div>
    <div class="header-description">
      <span>在这里，每个人都乐于积极创新，为做出美好的事情而努力</span>
      <br>
      <span>“和用户交朋友，做用户心中最酷的公司”的愿景让我们无所畏惧，一往无前</span>
      <br>
      <span>我们不断地追求极致的产品和效率，成就了不断缔造成长奇迹的品牌</span>
    </div>
    <div class="list-wrap">
      <div class="togeter">
        BECAUSE OF MI
      </div>
      <div class="toge-work">
        与优秀的人一起做事
      </div>
      <div class="ziqu">
        <div class="content">
          <div class="ziqutitle">自驱</div>
          <div class="zuquwhy">
            <span>有能力、有梦想、有责任心、对自己有高要求，把实现自我价值和实现组织目标有机融合。打破自己的舒适区，让挑战常伴吾身。</span>
          </div>
        </div>
      </div>
      <div class="flexBox">
        <div class="jr">
          <div class="ycontent">
            <div class="ytitle">
              坚韧
            </div>
            <div class="jr-content">
              <span>从成功回首，一路必历经坎坷，每一次都是一场自我磨练。在挫折中坚定本心，不断地自我总结与反思。告诉自己再坚持一下，迎来的将会是突破与蜕变。</span>
            </div>
          </div>
        </div>
        <div class="br">
          <div class="ycontent">
            <div class="ytitle">
              包容
            </div>
            <div class="br-content">
              <span>family magician人是拥抱多元，才能走向世界的。彼此之间相互尊重，相互理解，在展现自我的同时求同存异。包容的精神使我们互相靠近，为共同的愿景一起努力。</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <%- include("common/footer.html")%>