<!-- footer开始 -->
<footer>
  <div class="line1">family magician有限责任公司官方网址 版权归本公司所有 2020-2022 晋ICP备8888888</div>
  <div class="line2">我公司建筑装饰行业经过近30年的快速发展，已逐渐走向成熟。从设计标准、工程规模到资金投入、新技术和新材料的应用等都得到了前所未有的发展。</div>
  <div class="line3">本公司有国家建筑项目经验，参与上海金茂大厦的开发和搭建，每一栋房屋都经过我们仔细检查，确保质量合格后出售</div>
  <div class="line4">本站基于<a href="https://www.bootcss.com/">Bootstrap</a>搭建</div>
</footer>
<!-- footer结束 -->
</body>

</html>

<script src="/js/index/index.js"></script>
<!-- 引入Swiper -->
<script src="/js/index/swiper8/swiper-bundle.js"></script>